/*body{
  background-color: blue;
}*/
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.intro{
  width:35%;
  margin:auto;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;}
a{
  color:#11999E;
  margin :10px 20px;
  text-decoration: none;
  font-family: 'Montserrat',sans-serif;
}
a:hover{
  color:#EAF6F6;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  margin: 50px auto 0 auto;
  color: #66BFBF
}
p{
  line-height: 2;
}

h2 {
  font-family: sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: sans-serif;
  color: #11999E;
}

.footer-link {
  color: #11999E;
}

body {
  color: 40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

.bottomcloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.topcloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.skill-row{
  width:50%
  margin:100% auto 100% auto ;
  text-align: left;
  line-height: 2;
}
.im1{
  float:left;
  border-radius:80%;
  padding-right: 30px;
}
.im2{
  border-radius: 50%;
  float: right;
  height: 100px;
}
.prodp{
  border-radius: 50%;
}
hr{
  width:4%;
  color:#EAF6F6;
  border:  dotted ;
  border-width: 6px;
  border-bottom: none;
  margin 100px auto;
}
.contact-me{
  width:25%;
  margin: 40px auto  100px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999ee);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999ee);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999ee);
  background-image: -o-linear-gradient(top, #11cdd4, #11999ee);
  background-image: linear-gradient(to bottom, #11cdd4, #11999ee);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2vc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2vc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2vc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2vc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2vc4ad);
  text-decoration: none;
}
